.minecraft-status {
  width: 100%;
  background: #ffffff;
  border: solid 1px;
  border-color: #ddd #bbb #999;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: -0.75em 0.75em 0.5em #ddd;
}

.minecraft-status .ip-title {
  font-size: 1.5em;
}

.minecraft-status .ip-content {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  color: #1616c4;
  text-align: center;
  text-shadow: -0.2em 0.2em 0.2em #888;
  margin-bottom: 0.2em;
}

.minecraft-status .online-indicator {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.5em;
  font-weight: bold;
}

.online-indicator-online {
  background: #2cd32c;
  background: -webkit-linear-gradient(#2cd32c, #209772);
  background: -o-linear-gradient(#2cd32c, #209772);
  background: -moz-linear-gradient(#2cd32c, #209772);
  background: linear-gradient(#2cd32c, #209772);
  color: #000000;
}

.online-indicator-offline {
  background: #ff6060;
  background: -webkit-linear-gradient(#ff6060, #b81212);
  background: -o-linear-gradient(#ff6060, #b81212);
  background: -moz-linear-gradient(#ff6060, #b81212);
  background: linear-gradient(#ff6060, #b81212);
  color: #ffffff;
}

.minecraft-status .server-details,
.minecraft-status .player-count,
.minecraft-status .version,
.minecraft-status .last-updated {
  margin-left: 1em;
}

.minecraft-status .player-count-title,
.minecraft-status .version-title,
.minecraft-status .last-updated-title {
  font-weight: bold;
}